@import url(effects.css);

.dark-down
{
    position: absolute;
    top: 0px;
    width: 100vw;
    background-color: rgb(58, 58, 58);
}

.dark-up
{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    background-color: rgb(58, 58, 58);
    animation: dark-transition-empty 1s forwards;
}

.dark-transition-fill
{
    animation: dark-transition-fill 1s forwards;
}