@keyframes closing_left
{
    from {width: 50%;}
    to {width: 0%;}
}

@keyframes closing_right
{
    from {width: 50%;}
    to {width: 0%;}
}

.doors
{
    display: flex;
    position: relative;
    height: 100vh;
    z-index: 1;
}

.door-left
{
    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);
}

.door-left-move
{
    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);

    animation: closing_left 1s forwards;
}

.door-right
{
    position: absolute;
    right: 0px;

    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);
}    

.door-right-move
{
    position: absolute;
    right: 0px;

    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);

    animation: closing_right 1s forwards;
}