@keyframes fadein
{
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes fadeout
{
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes dark-transition
{
    from {height: 0vh;}
    to {height: 100vh;}
}