body
{
    margin: 0;
}

@keyframes closing_left
{
    from {width: 50%;}
    to {width: 0%;}
}

@keyframes closing_right
{
    from {width: 50%;}
    to {width: 0%;}
}

.title
{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    background-color: transparent;
}

.title-fade
{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    background-color: transparent;

    animation-name: title-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes title-fade
{
    from {opacity: 100%;}
    to {opacity: 0%;}
}

.doors
{
    display: flex;
    position: relative;
    height: 100vh;
}

.door-left
{
    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);
}

.door-left-move
{
    height: 100%;
    width: 50%;

    background-color: rgb(255, 194, 80);

    animation-name: closing_left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.door-right
{
    position: absolute;
    right: 0px;

    height: 100%;
    width: 50%;

    background-color: rgb(255, 86, 80);
}    

.door-right-move
{
    position: absolute;
    right: 0px;

    height: 100%;
    width: 50%;

    background-color: rgb(255, 86, 80);

    animation-name: closing_right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}    

.seal-button
{
    position: absolute;
    top: 50%;
    right: 47.1%;

    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: grey;
}

.seal-button-fade
{
    position: absolute;
    top: 50%;
    right: 47.1%;

    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: grey;

    animation-name: seal-button-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes seal-button-fade
{
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes seal-button-expand
{
    from {height: 100px; width: 100px;}
    to {height: 150px; width: 150px;}
}

@keyframes seal-button-shrink
{
    from {height: 150px; width: 150px;}
    to {height: 100px; width: 100px;}
}

.seal-button:hover
{
    animation-name: seal-button-expand;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.seal-button:not(:hover)
{
    animation-name: seal-button-shrink;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

