@import url(effects.css);

.title
{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    background-color: transparent;
}

.title-fadein
{
    animation: fadein 2s forwards;
}

.title-fadeout
{
    animation: fadeout 1s forwards;
}

.title2
{
    position: absolute;
    top: 37%;
    right: 20%;

    opacity: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    background-color: transparent;
}

.title2-fadein
{
    animation: fadein 2s forwards 1.5s;
}

.title2-fadeout
{
    animation: fadeout 1s forwards;
}

.description
{
    display: flex;
    position: absolute;
    max-width: 300px;
    top: 10%;
    margin-left: 30vw;
    margin-right: 30vw;
}

.photo
{
    position: relative;
}

.name
{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
}

.about
{
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15pt;
}

.title3
{
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30pt;
    background-color: transparent;
}