@import url(effects.css);

.title
{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40pt;
    background-color: transparent;
}

.title-fadein
{
    animation: fadein 2s forwards;
}

.title-fadeout
{
    animation: fadeout 1s forwards;
}